input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

table {
  width: 1500px;
}

table,
th,
td {
  border: 2px solid rgba(0, 0, 0, 0.479);
  border-collapse: collapse;
}

.display-bookkeeping {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

/* .post-container {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
} */

.delete-button {
  margin-top: 20px;
}
