* {
  font-family: sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.hidden {
  /* display: none; */
  visibility: hidden;
}

.display-bookkeeping {
  display: grid;
  grid-template-columns: repeat(7, 150px) repeat(2, 35px);
  margin-top: 50px;
}

.default-text {
  grid-column-start: 1;
  grid-column-end: 10;
}

.edit,
.delete {
  cursor: pointer;
}

.post-detail {
  border: 2px solid rgba(0, 0, 0, 0.479);
  border-collapse: collapse;

  background-color: rgba(255, 255, 255, 0);
  grid-template-columns: inherit;
}

.delete-button {
  margin-top: 20px;
}
