* {
  font-family: sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

select {
  width: 5rem;
  padding: 1.6px 4px 1.6px 4px;
}

.input-container {
  display: contents;
  width: 100%;
}

.post-header-container {
  margin-top: 50px;
}

.buttons {
  width: 100px;
  border-radius: 2px;
  padding: 0px 7px 0px 7px;
}

.post-header-container,
.created-posts {
  display: grid;
  grid-template-columns: repeat(8, 150px) repeat(2, 35px);
}

.default-text {
  grid-column-start: 1;
  grid-column-end: 10;
}

.action,
.edit,
.delete,
.save {
  cursor: pointer;
  text-align: center;
  /* hide grid lines for icons */
  border: transparent !important;
}

.post-header {
  font-weight: bold;
}

.post-detail,
.post-header {
  border: 2px solid rgba(0, 0, 0, 0.479);
  border-collapse: collapse;

  background-color: rgba(255, 255, 255, 0);
  grid-template-columns: inherit;
}

.delete-button-container {
  margin-top: 20px;
}

.selected {
  background-color: aqua;
}
